
.vs/openxr_sample/v16/.suo
.vs/openxr_sample/v16/Browse.VC.db
.vs/openxr_sample/v16/ipch/AutoPCH/c2c4f4466f6ab797/BASIC_INFO.ipch
.vs/openxr_sample/v16/ipch/AutoPCH/e677876acce9a7b3/GLUTCUBE.ipch
.vs/openxr_sample/v16/ipch/AutoPCH/f657b2dc97630b8f/GLUTCUBE.ipch
.vs/openxr_sample/v16/Solution.VC.db
